<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>
<%- include('../partials/flash_message') %>
<div class="flex flex-wrap">
    <%- include('../partials/ads_partial') %>
</div>
</body>
</html>